{% extends 'base.html' %}

{% block content %}

    <script>
    function change() {
        var color = 'rgba(' + Math.random() * 255 + ',' + Math.random() * 255 + ',' + Math.random() * 255 + ')';
        back.style.backgroundColor = color;
    }
    </script>

    <div id = "back" onClick = "change()" style="margin: 2rem; text-align:center;" >
        <h1>METHOD</h1>

            <form action="/accounts/hello_world/" method="post">
                {% csrf_token %}
                <input type="submit" class="btn btn-primary rounded-pill px-3">
            </form>

        <h3>{{ text }}</h3>
    </div>

{% endblock %}