<div style="text-align:center;">

    <script>
        function change() {
            var color = 'rgba(' + Math.random() * 255 + ',' + Math.random() * 255 + ',' + Math.random() * 255 + ')';
            header_color.style.color = color;
            footer_color.style.color = color;
        }

    </script>

    <div class = "pragmatic_header_logo">
        <h1 id ='header_color' onMouseover = "change()">Pragmatic</h1>
    </div>
    <div class = "pragmatic_header_button">
        <span>nav1</span>
        <span>nav2</span>
        <span>nav3</span>
        <span>nav4</span>
    </div>
</div>